{% extends "layout.html" %}
{% block body %}
<!-- .banner -->
<section class="banner banner--sub txt-inverted">
	<div class="wrap">
		<h1>Get Involved</h1>
	</div>
</section>
<!--/ .banner -->

<!-- .content -->
<section class="content overhide">
	<div class="wrap">
		<div class="row flex">
			<a target="_blank" href="https://secure.changa.co.ke/myweb/share/13923" class="card card--m-changa">
				<div class="card__inner">
					<h3>Contribute via M-Changa</h3>
					<p>The money you give goes towards helping the victims<br>
						get to safety and have necessities to survive on.</p>
					</div>
				</a>
				<a target="_blank" href="https://www.google.com/maps/place/Uchumi+Supermarket/@-1.287405,36.825414,15z/data=!4m5!3m4!1s0x0:0x889dd1e69ccdc3bd!8m2!3d-1.287405!4d36.825414" class="card card--supplies">
					<div class="card__inner">
						<h3>Contribute Supplies</h3>
						<p>To donate in kind, the drop off points are Uchumi Aga Khan Walk in town and Uchumi Koinange Street. </p>
						<p><strong>Sendy</strong> will collect &amp; deliver donations for FREE <em>(sendyit.com)</em></p>
					</div>
				</a>
			</div>
			<div class="row flex">
				<a href="" class="card card--contribute">
					<div class="card__inner">
						<h3>Volunteer</h3>
						<p>We're in need of volunteers/counselors on board to assist us with helping the vulnerable. Please get in touch with us and we'll revert.</p>
					</div>
				</a>

				<div href="" class="card card--no-arrow">
					<div class="card__inner">
						<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">PSA: Any tweeps willing to host those affected, please tweet/DM us &amp; we will coordinate in ensuring everyone is sorted. Use <a href="https://twitter.com/hashtag/HostRescureKE?src=hash">#HostRescureKE</a></p>&mdash; Host Rescue Kenya (@ResqueBnB) <a href="https://twitter.com/ResQueBnB/status/896434914563960833">August 12, 2017</a></blockquote>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ .content -->
	{% endblock %}