{% extends "layout.html" %}
{% block body %}

<!-- .banner -->
	<section class="banner txt-inverted">
		<div class="wrap">
			<h1>#HomeRescueKE</h1>
			<p class="half-wide">We are a community seeking to map, match and connect those in need of help with willing volunteer hosts following the just concluded #ElectionsKE2017.</p>
			<p>
			<a href="" class="button button--primary button--inverted">I Need Shelter</a> 
			<a href="/addhost" class="button button--secondary button--inverted">I'm Willing to Host</a>
			</p>
		</div>
	</section>
<!--/ .banner -->

<!-- .content -->
<section class="content overhide">
	<div class="wrap">
		<div class="row flex">
			<a href="/getinvolved" class="card card--contribute">
				<div class="card__inner">
					<h3>Get Involved</h3>
					<p>Hundreds of vulnerable Kenyans need your help.<br>
						Please contribute and spread the word.</p>
					</div>
				</a>
				<a href="" class="card card--stats">
					<div class="card__inner">
						<h3>Stats &amp; Stories</h3>
						<p>See not only the numbers, but real people benefitting.<br>
							Keep abreast with how much has been raised.</p>
					</div>
				</a>
		</div>
	</div>
</section>
<!--/ .content -->
{% endblock %}