<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<title>RescueBnB</title>
	<link rel="stylesheet" href="../static/assets/css/css.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/ico" href="../static/assets/img/favicon.ico">
	{% block head %}
	{% endblock %}
</head>

<body class="preload">

	<!-- .masthead -->
	<header class="masthead">
		<div class="wrap">
			<a href="/" class="logo">&nbsp;</a>
			<ul class="menu-main">
				<li><a href="/" class="active">Home</a></li>
				<li><a href="/addhost">Get Involved</a></li>
				<li><a href="">Stats &amp; Stories</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="/hosts" class="button button--secondary">Login</a></li>
			</ul>
			<a href="" class="trigger-menu-mobile">Menu</a>
		</div>
	</header>
	<!--/ .masthead -->

	<!-- .menu-mobile -->
	<nav class="menu-mobile-container">
		<div class="wrap">
			<ul class="menu-mobile">
				<li><a href="/" class="active">Home</a></li>
				<li><a href="/addhost">Get Involved</a></li>
				<li><a href="">Stats &amp; Stories</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="/hosts">Login</a></li>
			</ul>			
		</div>
	</nav>
	<!--/ .menu-mobile -->
	
	{% block body %}
	{% endblock %}
		
	<!-- .footer -->
	<footer class="footer">
		<div class="wrap clearfix">
			<a href="https://twitter.com/ResQueBnB" class="twitter" target="_blank">Follow us <span>@ResQueBnB</span></a>
			<nav class="menu-footer right">
				<a href="">Contact Us</a>
				<a href="">Privacy Policy</a>
				<a href="">Terms of Service</a>
				<span>Copyright &copy; 2017</span>
			</nav>
		</div>
	</footer>
	<!--/ .footer -->
		
	<script src="../static/assets/js/jquery-1.8.1.min.js"></script>
  	<script src="../static/assets/js/modernizr-custom.min.js"></script>
	<script src="../static/assets/js/libs.js"></script>
	<script src="../static/assets/js/js.js"></script>
</body>
</html>