{% extends "layout.html" %}
{% block body %}


<!-- .banner -->
<section class="banner banner--sub">
	<div class="wrap">
		<h1>Request Shelter</h1>
	</div>
</section>
<!--/ .banner -->

<!-- .content -->
<section class="content overhide">
	<div class="wrap clearfix">
		<div class="side-col">
			<aside class="victim-message">
				<blockquote>
					<span class="avi"><img src="" alt=""></span>
					<p>Hi there.</p>
					<p>If you are unsafe or feel threatened in any way due to violence and unrest, please know that you are not alone. Many are reaching out, and many more are willing to host and help. Our team is working round the clock to ensure that the vulnerable have a safe place to run to.</p>
					<p>Please fill in this form and one of us will contact you right away.</p>
					<p>Stay safe.</p>
					<cite>
						<em><a class="name" href="https://twitter.com/missnyawira" target="_blank">@MissNyawira</a>, Team #HostRescueKe</em>
					</cite>
				</blockquote>
			</aside>
		</div>
		<div class="main-col">
			<form action="/addhosts" method="POST">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" name="name" required="true" class="form-control" id="name" placeholder="First Last">
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" required="true" class="form-control" id="email" placeholder="email@example.com">
				</div>

				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" name="phone" required="true" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="0722 123 456">
				</div>

				<fieldset class="form-group">
					<label for="gender">Gender</label>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="gender" id="male" value="male" checked="">
							Male
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="gender" id="female" value="female">
							Female
						</label>
					</div>
				</fieldset>

				<div class="form-group">
					<label for="location">Location</label>

					<input type="text" name="location" required="true" class="form-control" id="location" aria-describedby="locationhelp" placeholder="Ngei 2 Estate, Langaata">
					<small id="locationhelp" class="form-text text-muted">Where are you located? The more specific the better.</small>     
				</div>

				<div class="form-group">
					<label for="maxguests">How many other people are you with?</label>

					<input type="number" name="maxguests" required="true" class="form-control" id="maxguests" aria-describedby="maxguestshelp" placeholder="5">
					<small id="maxguestshelp" class="form-text text-muted">Fill this in if your family or friends are coming along with you</small>  
				</div>

				<button type="submit" class="button button--secondary">Submit</button>
			</form>
		</div>
	</div>
</section>
<!--/ .content -->

{% endblock %}