{% extends "layout.html" %}

{% block head %}
<!-- Add in Bootstrap core CSS for table -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class ="wrap">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Location</th>
				<th>Max Guests</th>
			</tr>
		</thead>

		<tbody>
			{% for host in hosts %}
			<tr>
				<td>{{host.name}}</td>
				<td>{{host.email}}</td>
				<td>{{host.phone}}</td>
				<td>{{host.location}}</td>
				<td>{{host.maxguests}}</td>
			<tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script src="../static/js/bootstrap.min.js"></script>
{% endblock %}