{% extends "layout.html" %}

{% block head %}
<!-- Add in Bootstrap core CSS for table -->
<link href="../static/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class ="wrap">
	</hi> Hosts </h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Location</th>
				<th>Max Guests</th>
			</tr>
		</thead>

		<tbody>
			{% for host in hosts %}
			<tr>
				<td>{{host.name}}</td>
				<td>{{host.email}}</td>
				<td>{{host.phone}}</td>
				<td>{{host.location}}</td>
				<td>{{host.maxguests}}</td>
			<tr>
			{% endfor %}
		</tbody>
	</table>
</div>

</br>
</br>
</br>

<div class ="wrap">
	</hi> Requests for Shelter </h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Location</th>
				<th>Number of Guests</th>
			</tr>
		</thead>

		<tbody>
			{% for guest in guests %}
			<tr>
				<td>{{guest.name}}</td>
				<td>{{guest.email}}</td>
				<td>{{guest.phone}}</td>
				<td>{{guest.location}}</td>
				<td>{{guest.maxguests}}</td>
			<tr>
			{% endfor %}
		</tbody>
	</table>
</div>


<script src="../static/assets/js/bootstrap.min.js"></script>
{% endblock %}