// generic colors

$highlight-bg: rgba(197,17,74,0.25);
$placeholder-color: rgba(#000,0.45);


// project colors

$bg-color-primary: #bb0000; // red
$bg-color-secondary: #4c944c; // green

$txt-color-primary: #292929;
$txt-color-secondary: #696969;
$txt-color-inverse: #fff;

$color-twitter: #1da1f2; // blue