// generic colors

$highlight-bg: rgba(197,17,74,0.25);
$placeholder-color: rgba(#000,0.45);


// project colors

$pink-primary: #c754aa;
$pink-secondary: #ec5e5b;

$primary-button-color: #d150b9;

$dialog-text-color: #616161;

$magnolia: #fff9ea;