/*
Version: 	1.0	
*/


// -----------------------------------------------/
//	Z-Indexes
// -----------------------------------------------/
//
//  999	- .masthead
//	1	- .viewport
//
// -----------------------------------------------/


@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

@import "colors";
@import "fonts";
@import "utilities";


/* ------------------------------------------------
01 BLOCKS
--------------------------------------------------- */

body {
	background: #fff;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	overflow: hidden;
	color: #292929;
}

.wrap {
	width: 1080px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

h1 {
	font-size: 32px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 42px;
}

p { margin-bottom: 28px; }

.logo {
	position: absolute;
	width: 0;
	height: 0;
	display: inline-block;
}



/* ------------------------------------------------
02 ELEMENTS & MODS
--------------------------------------------------- */



/* ------------------------------------------------
03 MEDIA QUERIES
--------------------------------------------------- */

@media (max-width: 1420px) {
}

@media (max-width: 750px) {
}


/* ------------------------------------------------
03 Animation
--------------------------------------------------- */

@-webkit-keyframes orbit {
	0% { -webkit-transform: rotate(0deg)
	} 100% { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes orbit {
	0% { -moz-transform: rotate(0deg)
	} 100% { -moz-transform: rotate(360deg) }
}
@-ms-keyframes orbit {
	0% { -ms-transform: rotate(0deg)
	} 100% { -ms-transform: rotate(360deg) }
}

@-webkit-keyframes norbit {
	0% { -webkit-transform: rotate(0deg)
	} 100% { -webkit-transform: rotate(-360deg) }
}
@-moz-keyframes norbit {
	0% { -moz-transform: rotate(0deg)
	} 100% { -moz-transform: rotate(-360deg) }
}
@-ms-keyframes norbit {
	0% { -ms-transform: rotate(0deg)
	} 100% { -ms-transform: rotate(-360deg) }
}

@-webkit-keyframes float {
	0%, 100% { -webkit-transform: translateY(10px);
	} 50% { -webkit-transform: translateY(-10px); }

}
@-moz-keyframes float {
	0% { -moz-transform: rotate(0deg)
	} 100% { -moz-transform: rotate(-360deg) }
}
@-ms-keyframes float {
	0% { -ms-transform: rotate(0deg)
	} 100% { -ms-transform: rotate(-360deg) }
}

/* ------------------------------------------------
04 LIBS
--------------------------------------------------- */

